go 1.19

use (
    ./.scripts/blueprint_vendor_checker
    ./.scripts/blueprints_collector
    ./.scripts/marketplace_vendors_checker
    ./.scripts/marketplace_devices_checker
    ./.scripts/device_blueprint_link_checker
)
